.categories-list{

  & > h1{
    color: lighten($mainTextColor, 15%);
    border-bottom: 1px dashed $mainTextColor;
    font-size: 4em;
    margin: 0 0.5em 1em;
    padding: 0.7em;
    text-align: left;
  }

  .list{
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
}