.prod-object {

  //background: #FFFFFF;

  height: auto;
  width: 275px;
  margin: 1em 0.5em;
  text-align: center;

  //box-shadow: rgba(0, 0, 0, 0.4) 0 1px 7px;
  //border-radius: 10px;
  padding: 0.7em;

  .img{
    border-radius: 50%;
    height: 275px;
    width: 275px;
    margin: 0 auto;
  }

  .details{
    margin-top: 1.5em;

    .brand{
      color: $brandColor;
      display: block;
      font-size: 1.5em;
    }

    .title{
      color: lighten($mainTextColor, 5%);
      display: inline-block;
      font-size: 1.1em;
      margin: 1em 0.5em;
      height: 2em;
    }

    .price-box{
      .price{
        margin: 0.4em;
      }

      .price-cancelled{
        text-decoration: line-through;
        color: darken($mainTextColor, 20%);
      }

      .special-price{

      }
    }
  }



}