<div class="categories-list">
    <h1>{{name}}</h1>
    <div class="list">
        <div>{{products.length}}</div>

        <div class="prod-object"
                ng-repeat="product in products">
            <img class="img" src="{{'https://d1hz1jz80fytvc.cloudfront.net/media/catalog/product/cache' + product._source.image}}" />
            <div class="details">
                <span class="brand">{{product._source.options_manufacturer_en}}</span>
                <span class="title">{{product._source.name_en}}</span>
                <div class="price-box">
                    <span class="price special-price">{{product._source.special_price | currency}}</span>
                    <span class="price" ng-class="{'price-cancelled' : (product._source.special_price !== null)}">{{product._source.price | currency}}</span>
                </div>
            </div>
        </div>

    
    </div>
</div>